xml/x2/src/main/resources/people-normalized.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">

  <xs:simpleType name="genderType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="male"/>
      <xs:enumeration value="female"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:element name="people">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="person" type="personType" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:complexType name="personType">
    <xs:sequence>
      <xs:element name="first-name" type="xs:string" minOccurs="0"/>
      <xs:element name="last-name" type="xs:string" minOccurs="0"/>
      <xs:element name="gender" type="genderType" minOccurs="0"/>
      <xs:element name="spouse" type="spouseType" minOccurs="0"/>
      <xs:element name="parents" type="parentsType" minOccurs="0"/>
      <xs:element name="children" type="childrenType" minOccurs="0"/>
      <xs:element name="siblings" type="siblingsType" minOccurs="0"/>
    </xs:sequence>
    <xs:attribute name="id" type="xs:ID" use="required"/>
  </xs:complexType>

  <xs:complexType name="spouseType">
    <xs:attribute name="ref" type="xs:IDREF" use="optional"/>
    <xs:attribute name="name" type="xs:string" use="optional"/>
  </xs:complexType>

  <xs:complexType name="parentsType">
    <xs:sequence>
      <xs:element name="father" type="parentRefOrName" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="mother" type="parentRefOrName" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="parentRefOrName">
    <xs:attribute name="ref" type="xs:IDREF" use="optional"/>
    <xs:attribute name="name" type="xs:string" use="optional"/>
  </xs:complexType>

  <xs:complexType name="childrenType">
    <xs:sequence>
      <xs:element name="son" type="childRef" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="daughter" type="childRef" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="childRef">
    <xs:attribute name="ref" type="xs:IDREF" use="required"/>
  </xs:complexType>

  <xs:complexType name="siblingsType">
    <xs:sequence>
      <xs:element name="brother" type="siblingRef" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="sister" type="siblingRef" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="siblingRef">
    <xs:attribute name="ref" type="xs:IDREF" use="required"/>
  </xs:complexType>

</xs:schema>
